html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* ////////////////////////////////////////////// MAIN CSS /////////////////////////////////////////////////////// */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  box-sizing: border-box;
  background-color: #e7f6ff;
  font-family: "Inter", sans-serif; /* 400 500 700 */
  font-weight: 700;
}

.container {
  box-sizing: border-box;
  width: 1080px;
  margin: 0 auto;
  background-color: #ffff;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 40px 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.sneakers_list-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.sneakers_list-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  max-width: 650px;
  margin-bottom: 30px;
}

.sneakers_list-input {
  width: 250px;
  height: 45px;
  padding-left: 45px;
  padding-right: 45px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.label {
  position: relative;
}

.search_loop-img {
  content: " ";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../public/img/input.svg);
  cursor: pointer;
}

.search_deleteText-img {
  content: " ";
  position: absolute;
  top: 15px;
  right: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../public/img/input.svg);
  cursor: pointer;
}

.sneakers_list-grid {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  row-gap: 40px;
  justify-content: space-between;
}

.deleteOrder_btn {
  margin-top: 40px;
  cursor: pointer;
  margin-left: 15px;
  border: none;
  outline: none;
  background: #9dd458;
  border-radius: 18px;
  width: 245px;
  height: 55px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
